@using Bc.CashFlow.Domain.User
@model Bc.CashFlow.Web.Models.User.UserIndexViewModel
@{
    ViewData["Title"] = "Usuários";
}
<h1>@ViewData["Title"]</h1>

<p>Página de gestão de usuários</p>

<ul>
    @foreach (IUser user in Model.UsersList)
    {
        <li><a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserId">@user.UserId: @user.Username</a></li>
    }
</ul>
