@using Bc.CashFlow.Domain.User
@model Bc.CashFlow.Web.Models.User.UserIndexViewModel
@{
    ViewData["Title"] = "Usuários";
}
<h1>@ViewData["Title"]</h1>

<p>Página de gestão de usuários</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (IUser user in Model.UsersList)
    {
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">@user.Username</h5>
                <p class="card-text">
                    ID: @user.UserId
                </p>
                <a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserId" class="btn btn-primary">
                    Ver Detalhes
                </a>
            </div>
        </div>
    </div>
    }
</div>
