@model Bc.CashFlow.Web.Models.DailyReport.DailyReportCreateViewModel
@{
    ViewData["Title"] = "Criar Transação";
}
<h1 class="mb-4">@ViewData["Title"]</h1>

<p>Página para criação de nova transação</p>

<form asp-action="Create">

    <div class="mb-3">
        <label asp-for="ReferenceDate" class="form-label">Data de Referência</label>
        <input asp-for="ReferenceDate" type="date" class="form-control" />
        <span asp-validation-for="ReferenceDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
